<!DOCTYPE html>
<html>
  <head>
    <title>DannyDash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    

    
  </head>

  <body>
    <div id="fb-root"></div>
    <%= yield %>
  </body>
</html>
